<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiny.business.order.dao.OrderMapper" >
  <resultMap type="com.tiny.business.order.model.OrderInfoModel" id="orderInfoMap">
      <id     column="order_id"  property="orderId" />
      <result column="user_id" property="userId"/>
      <result column="order_status" property="orderStatus"/>
      <result column="shippingStatus" property="shippingStatus"/>
      <result column="consignee" property="consignee"/>
      <result column="province" property="province"/>
  </resultMap>
  
  <insert id="insertData" parameterType="com.tiny.business.order.model.OrderInfoModel" >
      insert into order_info (cat_id,cat_name,parent_id,sort_order,suppliers_Id,img_url)
      values(#{catId},#{catName},#{parentId},#{sortOrder},#{suppliersId},#{imgUrl}) 
  </insert>
  
  <select id="queryForList" parameterType="string"  resultMap="orderInfoMap">
      select c.cat_id,c.cat_name, c.sort_order,c.img_url from order_info c
      where c.suppliers_Id = #{suppliersId} and c.is_show='1'
  </select>
  
  <update id="deleteData" parameterType="com.tiny.business.order.model.OrderInfoModel">
      update order_info set is_show='0' where cat_id = #{catId}
  </update>
   
  <update id="updateData" parameterType="com.tiny.business.order.model.OrderInfoModel">
      update order_info set cat_name = #{catName} ,img_url = #{imgUrl} where cat_id = #{catId}
  </update>
</mapper>